name: Lint And Flow Test

on:
  push:
    branches:    
      - master
      - develop
      - 'feature/*' 
      - 'releases/*' 
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [11.x, 12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn install, lint
      run: |
        yarn install
        $(npm bin)/eslint --debug src/
      env:
        CI: true
